<!doctype html>
<html lang="ko">
 <head>
  <meta charset="UTF-8">
  <title>YOLO</title>
  <link rel="stylesheet" href="yolo2.css" type="text/css">
 
 </head>
 <body>
		
	<h1>YOLO</h1>
	<div id="login" align="right">
		<label>아이디 : </label>
	<input type="text">
	<label>비번 : </label>
	<input type="text">
	<input type="button" value="로그인" onclick="">
	</div>

	<div id="All-main" class="">

	<div class="first-main">
		
	<div class="list">
		<ul>
			<li>photo게시판
				<ul>
					<li>추천코스</li>
					<li>맛집</li>
					<li>숙박</li>
				</ul></li>
			<li>게시판
				<ul>
					<li>함께해요</li>
					<li>할인정보&꿀팁</li>
				</ul></li>
			<li>각종정보
				<ul>
					<li>기차 시간표 조회</li>
					<li>버스 시간표 조회</li>
				</ul></li>
			<li>내 정보
				<ul>
					<li>내 정보 수정</li>
					<li>내 작성글 보기</li>
					<li>내 관심글 보기</li>
				</ul></li>
		</ul>
	</div>	<!-- list -->
	</div>	<!-- first-main -->


	<div class="second-main">
		<div class="show-list-high">
			<div class="show-list-item1">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
			
			
			</div> <!-- show-list-item1 -->

			<div class="show-list-item2">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
		
		
			</div> <!-- show-list-item2 -->

			<div class="show-list-item3">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
			
			</div> <!-- show-list-item3 -->
			
		</div>	<!-- show-list-high -->

		<div class="show-list-middle">
			<div class="show-list-item1">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
			
			
			</div> <!-- show-list-item1 -->

			<div class="show-list-item2">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
		
		
			</div> <!-- show-list-item2 -->

			<div class="show-list-item3">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
			
			</div> <!-- show-list-item3 -->
			
		</div>	<!-- show-list-middle -->

		<div class="show-list-row">
			<div class="show-list-item1">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
			
			
			</div> <!-- show-list-item1 -->

			<div class="show-list-item2">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
		
		
			</div> <!-- show-list-item2 -->

			<div class="show-list-item3">
				<div class="show-list-item-row first">
					<input type="image" src="">
				</div>	<!-- show-list-item-row first -->
				<div class="show-list-item-row second">
					<div class="show-list-item-title">
						<a href="">제목</a>
					</div> <!-- show-list-item-title -->
					<div class="show-list-item-writer">
						글쓴이 : 
					</div> <!-- show-list-item-writer -->
				</div>	<!-- show-list-item-row second -->
				<div class="show-list-row third">
					<div class="show-list-row-count">
						조회수 : 
					</div>	<!-- show-list-row-count -->
				</div>	<!-- show-list-row third -->
			
			</div> <!-- show-list-item3 -->
			
		</div>	<!-- show-list-row -->

		<div class="write-button">
			
		</div>

	</div>	<!-- second-main -->

		</div>	<!-- All-main -->
 </body>
</html>
